name: Validar OpenAPI dos TJs Estaduais

on:
  workflow_dispatch:

jobs:
  validar-openapi:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Instalar dependências e validar schema
        run: |
          npm install ibm-openapi-validator
          npx ibm-openapi-validator ./schemas/openapi_tjs.yaml
